:root {
    --text-color: black;
    --h1-fontsize: 3rem;
    --navbar-height: 4em;
    --nav-link-fontsize: 2rem;
    --banner-height: 7em;
    --q-fontsize: 1.5rem;
    --shadow-positive: .05vw;
    --shadow-negative: -.05vw;
    --sub-banner-height: 3.5em;
    --h3-fontsize: 1.85em;
    --light-text: #FFA3E6;
    --card-height: 11em;
    --card-fontsize: 2.5rem;
    --card-shadow-positive: .1vw;
    --card-shadow-negative: -.1vw;
    --contact-hover-size: 1.5em;
    --header-purple: #180011;
    --page-color: rgb(14, 0, 37);
    --easy-cyan: #3dd7fd;
    --magenta-border: #e600e6;
    --Dark-slate: #1d1e22;
}
