 /* Set default font-family, size, and color for the entire page. */
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1vw;
    color: var(--text-color);  
}
/* Make the entire body a flex column, and give the page a background color of our saved page-color */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--page-color);
}
 /* Set the header to block. */
header {
    display: block;
}
/* Set the navbar to flex with space-between and flex-start, so it pushes both elements to edge. Set background color, width and height. */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--page-color);
    height: 4vw;
    padding: 1vw;
}
/* Set header1 relative font size, color of text and background, and a shadow to make it easier to look at. Add a linear gradient to the background for maximum fancy */
h1 {
    font-size: 2.5rem;
    color: var(--Dark-slate);
    text-shadow:
    var(--shadow-negative) var(--shadow-negative) .075vw var(--blue-popsicle),  
    var(--shadow-positive) var(--shadow-negative) .075vw var(--blue-popsicle),
    var(--shadow-negative) var(--shadow-positive) .075vw var(--blue-popsicle),
    var(--shadow-positive) var(--shadow-positive) .075vw var(--blue-popsicle);
    background-image: linear-gradient(to right, var(--easy-cyan)20%, var(--magenta-border));
}
/* Set the Navbar items to flex so navbar links use flex-end to go to bottom of container*/
#navbar > nav {
    display: flex;
}
/* Set the navbar links to no text decor to remove underline etc., set the font size to relative to html, the color of text, and a bit of padding to space out nav-links. */
#navbar a {
    text-decoration: none;
    font-size: 1.75rem;
    color: var(--easy-cyan);
    padding: 1vw 1vw;
}
/* Set the large banner to display flex, and row reverse so smaller banner comes from the end. Give it a height 7% of the page width and a background image that covers the container*/
#banner {
    display: flex;
    flex-direction: row-reverse;
    height: 7vw;
    background-image: url("../images/portfolio-banner-alt.png");
    background-size: cover;
}
/* Set the smaller banner quote text and text color, give it some padding so it doesnt lay flush with the sides of larger banner or page, set alignment to center so it doesnt rest on
the top of the parent. Add a cool background image and give it a fixed height so it looks better. */
q {
    font-size: 1.5rem;
    color:var(--easy-cyan);
    padding: 1.5vw 1vw 1vw 1vw;
    align-self: center;
    background-image: url("../images/black-hole-background-alt-blue.png");
    background-size: cover;
    height: 5vw;
}
/* Set display flex on the main content (about me, work, and contact sections), set it to column so it flows down the page, and give it some padding to separate from header and sides.*/
main {
    display: flex;
    flex-direction: column;
    padding: 5vw 1vw 4vw 1vw;
}
/* Pad all of the section-headers on the left so they push out from the page edge, and some on top so it lines up with children */
.section-header {
    padding: 1vw 0 0 4vw;
}
/* set all of the section-header's header3s' text color, font to a relative size of the parent element, and add a linear gradient border of equal scaling height. Give it some padding
to center the text, add a small margin on the right to give space between headers and children, align the text to the right, and give it a fixed width to keep it even  */
h3 {
    color: var(--easy-cyan);
    font-size: 1.5em;
    border: .2vw solid transparent;
    border-image: linear-gradient(to bottom, var(--easy-cyan)20%, var(--magenta-border)) 1 100%;
    height: 5vw;
    padding: 1vw;
    margin-right: 1vw;
    text-align: right;
    width: 7vw;
}
/* Set display on the "about me" section to inherit the flex-box of main, and change the direction to row, so it flows to the right from
the left edge (the section-header) instead of the default of down the page.*/
article {
    display: inherit;
    flex-direction: row;
}

article p {
    color: var(--light-text);
    padding: 0 10vw 0 0vw;
    margin: .75vw;
}

#work {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 10vw;

}

#work-cards {
    display: flex;
    flex-wrap: wrap;

}

.card {
    background-image: url("../images/Coming-soon.png");
    background-size: cover;
    height: 32.5vw;
    font-size: 1rem;
    color: var(--easy-cyan);
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow:
    var(--card-shadow-negative) var(--card-shadow-negative) .1vw #000,  
    var(--card-shadow-positive) var(--card-shadow-negative) .1vw #000,
    var(--card-shadow-negative) var(--card-shadow-positive) .1vw #000,
    var(--card-shadow-positive) var(--card-shadow-positive) .1vw #000;
    flex-basis: calc(50% - 1.5vw);
    border: .5vw solid;
    border-image:
        conic-gradient(var(--easy-cyan)10% , var(--magenta-border)50%, var(--easy-cyan)80%) 1;
    margin: .75vw;
    text-align: center;
    padding-top: 10vw;
    opacity: .5;
}

.card:hover {
    opacity: 1;
}

.card:hover text{
    opacity: 1;
}

.card:first-child{
    flex-basis: 100%;
    background-image: url("../images/2_5D-starter-kit.png");
    background-size:cover;
}

aside .section-header{
    display: flex;
    justify-content: flex-start;
    margin-top: 3vw;
}

#contact-links {
    display: none;
    padding-left: 5vw;
}

#contact-links a {
    padding: 0 8vw 0 1vw;
    text-decoration: none;
    color: var(--easy-cyan);
    font-weight: 700;
}

#contact-links a:hover {
    font-size: calc(1.5rem);
}

aside:hover #contact-links {
    display: inherit;
    align-self: center;
}

h4{
    color: var(--easy-cyan);
    text-align: center;
}

@media screen and (max-width:1062px) {
    article {
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    header{

    }
}