
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1vw;
    color: var(--text-color);  
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--page-color);
    height: 100%;
}
header {
    background-color: var(--header-color);
    display: block;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--page-color);
    height: 4vw;
    width: 100vw;
    padding: 1vw;
}

h1 {
    font-size: 2.5rem;
    color: var(--light-text);
}

#navbar > nav {
    display: flex;
    justify-content: space-between;
}

#navbar a {
    text-decoration: none;
    font-size: 1.75rem;
    color: var(--light-text);
    padding: 1vw 1vw;
}

#banner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    height: 6vw;
}

q {
    font-size: 1.5rem;
    color:var(--light-text);
    padding: 0 1vw 1vw 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4vw 1vw 4vw 1vw;
    height: 60vw;
}

.section-header {
    padding: 0 0vw 1vw 4vw;
}

article {
    display: inherit;
    flex-direction: row;
    justify-content: space-around;
}

article section {
    justify-self: center;
}

h3 {
    color: var(--light-text);
    font-size: 1.5em;
    border-right: 3px solid var(--border-color);
    border-radius: 3vw;
    padding: 1vw;
    margin-right: 1vw;
}

article p {
    color: var(--light-text);
    padding: 0 10vw 0 0vw;
}

#work {
    display: inherit;
    flex-direction: row;
    padding-right: 2vw;
}

#work-cards {
    display: inherit;
    flex-wrap: wrap;
    flex-basis: 50%;
}

.card {
    background-size: cover;
    font-size: 1rem;
    color: var(--light-text);
}

#work-cards:nth-child(0){
    flex-basis: 100%;
}



aside .section-header{
    display: flex;
    justify-content: flex-start;
}

#contact-links {
    display: none;
}

#contact-links a {
    padding: 0 8vw 0 1vw;
    text-decoration: none;
    color: var(--light-text);
    font-weight: 700;
}

#contact-links:nth-child(0) {
    padding-left: 0;
}

aside:hover #contact-links {
    display: inherit;
    align-self: center; 
}

h4{
    color: var(--light-text);
    text-align: center;
}